@font-face {
	font-family: '--font-pretendard-regular';
	src: url('../utiles/fonts/Pretendard-Regular.otf') format('opentype') ;
	font-display: swap;
}

:root {
  --font-pretendard-regular: '--font-pretendard-regular';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* font-family: var(--font-pretendard-light); */
  font-family: var(--font-pretendard-regular);
  /* font-family: var(--font-pretendard-semibold); */
}